doctype html
html
  head
    title= title
    link(rel='stylesheet', href=urlPrefix + '/stylesheets/style.css')
  body
block content
   a(href=urlPrefix + '/') Back

   div(class='content')
      h1= title
      div(class='docs')
         h2= 'Plug Control'
         each plug, plugName in plugsData
            p= plugName + ' is ' + (plug.state ? 'on' : 'off')
               br
               a(href=plugName + '/on') Turn on
               br
               a(href=plugName + '/off') Turn off
               br
               a(href=plugName) Get info
   
      div(class='docs')
         h2= 'API Info'
         p
            span(class='method') GET
            a(href='info') /info
         p
            span(class='method') GET
            /{plugname} (get plug data)
         p
            span(class='method') GET
            /{plugname}/state (get current state)
         p
            span(class='method') GET
            /{plugname}/{state=on|true|off|false}
