extends ../layout

block content
   a(href='/') Back

   h1= title
   div(class='docs')
      h2= 'Plug Control'
      each plug, plugName in plugsData
         p= plugName + ' is ' + (plug.state ? 'on' : 'off')
            | 
            a(href=plugName + '/on') Turn on
            | 
            a(href=plugName + '/off') Turn off
            | 
            a(href=plugName) Get info

   div(class='docs')
      h2= 'API Info'
      p
         span(class='method') GET
         a(href='info') /info
      p
         span(class='method') GET
         /{plugname} (get plug data)
      p
         span(class='method') GET
         /{plugname}/state (get current state)
      p
         span(class='method') GET
         /{plugname}/{state=on|true|off|false}
